  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Java de Base</h2>
          <p class="card-text">Apprendre la base de Java SE.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">Plus d'information</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Java EE</h2>
          <p class="card-text">JSF, JPA, Java WS, Java RS, JNDI</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">Plus d'information</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Spring</h2>
          <p class="card-text">Spring IOC, Spring AOP, Spring Data, Spring BOOT, ...</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">Plus d'information</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

      <!-- /.col-md-5 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Angular</h2>
            <p class="card-text">Angular Module, Angular Component, Angular Routing, 
              Angular Forms, Angular Service, Angular Deppendency Injection, ... </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Plus d'information</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-5 -->

  </div>
  <!-- /.row -->

<!-- /.container -->