<mat-toolbar color="primary" class="navbar">

    <div>CIGMA</div>

    <div>

        <span>
            <mat-button-toggle routerLink='/articles' routerLinkActivate="activate">Gestion des articles
            </mat-button-toggle>
        </span>

        <span>
            <mat-button-toggle routerLink='/users' routerLinkActivate="activate" value="Login">Login
            </mat-button-toggle>
        </span>
        <span>
            <button mat-raised-button color="primary">
                <mat-icon color="primary">share</mat-icon>
            </button>
        </span>
    </div>
</mat-toolbar>