<!-- Page Content -->


    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-7">
          <img style="width:100%" class="img-fluid rounded mb-4 mb-lg-0" src="assets/images/image.jpg" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
          <h1 class="font-weight-light">Formation Génie Logiciel</h1>
          <p>Ce site contient un ensemble de formation pour la filiale Génie Logiciel. Vous trouverez plusieurs modules :
            Java de base, Java avancé, Java EE, Spring BOOT, Angular, ...
            </p>
          <a class="btn btn-primary" href="#">Ajouter une formation</a>
        </div>
        <!-- /.col-md-4 -->
      </div>  
      <!-- /.row -->
    
      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
          <p class="text-white m-0" style="font-size: xx-large;">Apprendre les technologies Java EE & Spring BOOT & Angular</p>
        </div>
      </div>